<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Actix web</title>
</head>
<body>
  <p>
    The counter is {{ value }}
  </p>
  <a href="/increment">Increment</a>
  <a href="/decrement">Decrement</a>
</body>
</html>